@mainTextColor: #2c3e50;
@mainTextColor-Active: #42b983;
// 无背景色盒子 文字色
@noBgkClorText: white;
// 有背景色盒子 文字色
@BgkClorText: #2c3e50;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  // 浏览器默认字体大小是16px，rem与px关系为：1rem = 10px，10/16=0.625=62.5%，
  // 1.4rem = 14px
}
// 本项目 正文16px（1.6rem）, 标题50px（5rem）

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem; // 16px
  font-style: italic;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

// 主标题
.title1 {
  font-size: 50px;
  font-size: 5rem;
  text-align: center;
}
//　副标题
.title2 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}
//　小标题
.title3 {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
}

// 文字剧中
.center-align {
  text-align: center;
}

// 变色图片
.grayscale-img {
  filter: grayscale(35%);
  transition: all 1s;
  &:hover {
    filter: grayscale(0);
  }
}

// 阴影盒子
.shadow-box {
  box-shadow: 1px 1px 5px 0px #333;
  transition: all 0.5s;
  &:hover {
    box-shadow: 1px 5px 15px 0px #333;
  }
}
// 缩放盒子
.scale-box {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}

// 毛玻璃盒子
.glass-box {
  border-radius: 1.2rem;
  background-color: rgba(250, 250, 250, 0.6);
}

// 白色背景色盒子
.bgkclolr-box {
  background-color: white;
  a {
    color: #2c3e50 !important;
  }
}

// 白字
.whiteText {
  p,
  b,
  a,
  li,
  .title1,
  .title2,
  .title3,
  h4 {
    color: white !important;
  }
}

// 黑字
.blackText {
  p,
  b,
  li,
  a,
  h4,
  .title1,
  .title2,
  .title3 {
    color: #2c3e50 !important;
  }
}

// 主体盒子
.session {
  margin: 0 auto;
  padding: 2rem 0;
  color: #2c3e50;
  .title1,
  .title2,
  .title3 {
    font-style: italic !important;
  }
}

// 主文字
.desc {
  margin: 0 auto;
  p {
    line-height: 2.6rem;
    font-style: normal;
    // word-wrap: break-word;
    // word-break: break-all;
  }
}
