* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.title1 {
  font-size: 50px;
  font-size: 5rem;
  text-align: center;
}
.title2 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}
.title3 {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
}
.center-align {
  text-align: center;
}
.grayscale-img {
  filter: grayscale(35%);
  transition: all 1s;
}
.grayscale-img:hover {
  filter: grayscale(0);
}
.shadow-box {
  box-shadow: 1px 1px 5px 0px #333;
  transition: all 0.5s;
}
.shadow-box:hover {
  box-shadow: 1px 5px 15px 0px #333;
}
.scale-box {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
}
.scale-box:hover {
  transform: scale(1.025);
}
.glass-box {
  border-radius: 1.2rem;
  background-color: rgba(250, 250, 250, 0.6);
}
.bgkclolr-box {
  background-color: white;
}
.whiteText p,
.whiteText b,
.whiteText a,
.whiteText li,
.whiteText .title1,
.whiteText .title2,
.whiteText .title3,
.whiteText h4 {
  color: white !important;
}
.blackText p,
.blackText b,
.blackText li,
.blackText a,
.blackText h4,
.blackText .title1,
.blackText .title2,
.blackText .title3 {
  color: #2c3e50 !important;
}
.session {
  margin: 0 auto;
  padding: 2rem 0;
  color: #2c3e50;
}
.session .title1,
.session .title2,
.session .title3 {
  font-style: italic !important;
}
.desc {
  margin: 0 auto;
}
.desc p {
  line-height: 2.6rem;
  font-style: normal;
}
