* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
}
img {
  width: 100%;
}
a {
  color: #2c3e50;
  text-decoration: none;
}
li {
  list-style: none;
}
.title1 {
  font-size: 50px;
  font-size: 5rem;
  text-align: center;
}
.title2 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}
.title3 {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
}
.center-align {
  text-align: center;
}
.grayscale-img {
  filter: grayscale(50%);
  transition: all 1s;
}
.grayscale-img:hover {
  filter: grayscale(0);
}
.shadow-box {
  box-shadow: 1px 1px 5px 0px #333;
  transition: all 0.5s;
}
.shadow-box:hover {
  box-shadow: 1px 5px 15px 0px #333;
}
.scale-box {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
}
.scale-box:hover {
  transform: scale(1.025);
}
.glass-box {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
}
.glass-box .glass-bgk-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(0.2rem);
  opacity: 0.9;
}
.bgk-pic-box {
  background-color: #42b983;
}
.session {
  margin: 0 auto;
  padding: 4rem 0;
}
.session p {
  line-height: 2.6rem;
  font-style: normal;
}
