//大于1200 大屏幕电脑
@media screen and (min-width: 1200px) {
  .cardskill-container {
    // skill card 一行8个
    margin: 0 10%;
  }

  // 主体大盒子
  .session {
    width: 70%;
  }
  // 主体文字
  .desc {
    width: 70%;
  }
}

// 大于1044 中屏幕电脑
@media screen and(min-width: 1024px) and (max-width: 1199px) {
  .cardskill-container {
    // skill card 一行8个
    margin: 0 10%;
  }

  // 主体大盒子
  .session {
    width: 80%;
  }
  // 主体文字
  .desc {
    width: 80%;
  }
}

// 768px到1023之间 iPad
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardskill-container {
    // skill card 一行6个
    margin: 0 10%;
  }

  // 主体大盒子
  .session {
    width: 80%;
  }
  // 主体文字
  .desc {
    width: 80%;
  }
}

// 480px到768之间 手机屏幕
@media screen and (max-width: 767px) {
  // skill card 一行3个
  .cardskill-container {
    margin: 0;
  }

  // mask work
  .mask-work .mask-content {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    // left / top side
    .work-text-box {
      width: 100% !important;
    }
    // right / bottom
    .work-imgs-box {
      width: 100% !important;
    }
  }

  // mask skill
  .mask-skill {
    .skill-techs {
      ul {
        li {
          margin: 0 0.5rem !important;
          img {
            width: 5rem !important;
          }
          h4 {
            font-size: 10px !important;
          }
        }
      }
    }
    .skill-works-pc {
      ul {
        li {
          width: 45% !important;
          a {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  // about me card
  .about-me {
    .about-card {
      flex-direction: column !important;
      // left / top side
      .about-card-img {
        width: 100% !important;
      }
      // right / bottom
      .about-card-text {
        width: 100% !important;
        .contact-links {
          text-align: center !important;
        }
      }
    }
  }

  // 主体大盒子
  .session {
    width: 90%;
  }
  // 主体文字
  .desc {
    width: 90%;
  }

  // common
  p {
    font-size: 1.3rem;
    a {
      font-size: 1.3rem;
    }
  }

  // 标题
  .title1 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  .title2 {
    font-size: 22px;
    font-size: 2.2rem;
  }
  //　小标题
  .title3 {
    font-size: 20px;
    font-size: 1.8rem;
  }
}
